@font-face {
    font-family: 'Aquino Demo';
    src: url('Aquino-Demo.woff2') format('woff2'),
        url('Aquino-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

